<section class="pp-settings-panel" data-settings-panel="session" role="tabpanel" hidden>
    <h3 class="pp-settings-panel__title">Session recap</h3>
    {% include '@SymfinityPokerPlanner/room/_recap_panel.html.twig' with {recapRows: recapRows|default([]), compact: true} %}
</section>
